<div class="col-md-12">

  <h1>Listing Transactions</h1><%= link_to "New Transaction", new_transaction_path, :class => "btn btn-primary" %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Amount</th>
        <th scope="col">Transaction</th>
        <th scope="col">Account Name</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |item| %>
        <tr>
          <td><%= item.amount %></td>
          <td><%= item.transaction_type %></td>
          <td><%= item.account.name %></td>
          <td><%= link_to "Show", item %></td>
          <td><%= link_to "Edit", edit_transaction_path(item) %></td>
          <td><%= link_to "Destroy", { action: :destroy, id: item.id }, method: :delete, confirm: "Are you sure?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Home Page', root_path %>
</div>